# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.npy
*.npz
*.wav
# *.png  # Commented out - we need PNG assets for frontend

# Virtual environments
venv/
env/
.venv/
.venv310/

# Environment variables (API keys, secrets)
.env
backend/.env
frontend/.env

# Node.js
node_modules/
package-lock.json

# Mac/Windows system files
.DS_Store
Thumbs.db

#google credentials (tts)
google-credentials.json
backend/google-credentials.json
googlecredentials.json
backend/googlecredentials.json
googlecredentialstts.json
backend/googlecredentialstts.json
